iso
output-virtualbox-iso
output-hyperv-iso
output-qemu
*.iso
*.box
.kitchen
packer_cache/
vendor
Vagrantfile
.vagrant/
output-hyperv-iso/
packer-hyperv-iso/

*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
[Tt]humbs.db


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================
.DS_Store

# Sublime Text 2 (sftp)
# =========================
sftp-config.json


# terraform
*.terraform/
terraform.tfvars
*.tfstate
*.tfstate.backup

# vagrant
*.vagrant/
